fpdf==1.7.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
httplib2==0.22.0
imagehash==4.3.2
imageio==2.37.0
pillow==11.2.1
requests==2.32.3
requests-oauthlib==2.0.0
watchdog==6.0.0
